body {
  overflow-x: hidden !important;
}

.banner {
  background-image: url("https://cdn.joy.ac/i/698179948/fto4.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 15%;
  color: #ac63a5 !important;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #dc3545;
}
.circle i {
  position: relative;
  top: 30px;
}

.contact {
  background: url("./img/map.jpeg") no-repeat center center !important;
}
