body {
  overflow-x: hidden !important;
  font-family: "Bebas Neue", sans-serif;
  background-color: #af2222;
  background-image: linear-gradient(147deg, #af2222 52%, #ffe53b 91%);
}

.banner {
  background-image: url("https://cdn.akamai.steamstatic.com/steam/apps/2170050/header.jpg?t=1672737979");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 25%;
  color: #ac63a5 !important;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #dc3545;
}
.circle i {
  position: relative;
  top: 30px;
}

.contact {
  background: url("./img/map.jpeg") no-repeat center center !important;
}

.nav-link:hover {
  background-color: #bc1414 !important;
  transition: all 2s !important;
}

h1 {
  font-family: "Russo One", sans-serif;
}

.ulti:hover {
  opacity: 0.5;
  transition: all 1s;
  cursor: pointer;
}
